<h2>Добавить покупателя</h2>

<form [formGroup]="svc.form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name">Имя</label>
    <input class="form-control" type="text" id="name" placeholder="Имя Фамилия"
           formControlName="name">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" id="email" placeholder="Email"
           formControlName="email">
  </div>

  <div class="form-group">
    <label for="mobile">Телефон</label>
    <input class="form-control" type="text" id="mobile" placeholder="Телефон"
           formControlName="mobile">
  </div>

  <div class="form-group">
    <label for="location">Город</label>
    <input class="form-control" type="text" id="location" placeholder="Город"
           formControlName="location">
  </div>

  <div class="form-group">
    <button class="btn btn-info" [disabled]="svc.form.invalid">Сохранить</button>
  </div>

</form>

<p>
  {{svc.form.controls.key.value}} <br>
  {{svc.form.controls.name.value}} <br>
  {{svc.form.controls.email.value}} <br>
  {{svc.form.controls.mobile.value}} <br>
  {{svc.form.controls.location.value}} <br>
</p>

<p>
  {{key.value}} <br>
  {{name.value}} <br>
  {{email.value}} <br>
  {{mobile.value}} <br>
  {{location.value}} <br>
</p>
